@import '../bootstrap/bootstrap.scss';
.cover.center {
    position: relative;
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.profile-circle {
    width: 100%;
    text-align: center;
    position: static;
    &>div {
        border: 1px solid white;
        margin-left: 50%;
        transform: translateX(-50%);
        position: static;
        height: 20vw !important;
        width: 20vw !important;
        margin-bottom: 2rem;
        border-radius: 50% !important;
        @include media-breakpoint-down(sm) {
            height: 50vw !important;
            width: 50vw !important;
        }
    }
}

.font-weight-light {
    font-weight: 300;
}